$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-download: "\e906";
$icon-money-bag: "\e907"; 
$icon-money-time: "\e908";
$icon-credit-card: "\e909";
$icon-left-arrow: "\e90a";
$icon-right-arrow: "\e90b";
$icon-down-arrow: "\e90c";
$icon-up-arrow: "\e90d"; 
$icon-heart: "\e90e";
$icon-heart-solid: "\e90f";
$icon-star: "\e910";
$icon-star-solid: "\e911";
$icon-notif: "\e912";  
$icon-search: "\e913";
$icon-time: "\e914";
$icon-add: "\e915";
$icon-place: "\e916";
$icon-user: "\e917";
$icon-trash: "\e918";
$icon-share: "\e919";
$icon-internet: "\e91a";
$icon-edit: "\e91b";
$icon-hide: "\e91c";
$icon-forward: "\e91d";
$icon-send: "\e91e";
$icon-twitter: "\e91f";
$icon-vk: "\e920";
$icon-facebook: "\e921";
$icon-youtube: "\e922";
$icon-cart: "\e923";
$icon-phone: "\e924";
$icon-email: "\e925";
$icon-whatsapp: "\e926";
$icon-close: "\e927";
$icon-top: "\e928";
$icon-right: "\e929";
$icon-bottom: "\e92a";
$icon-left: "\e92b";
$icon-close-light: "\e92c";
$icon-menu: "\e92d";
$icon-warning: "\e92e";
$icon-error: "\e92f";
$icon-success: "\e930";
$icon-check: "\e931";
$icon-instagram: "\e932";
$icon-rules: "\e933";
$icon-moon: "\e934";
$icon-sun: "\e935";
$icon-play: "\e936";
$icon-pause: "\e937";
$icon-help: "\e938";
$icon-repeat: "\e939";
$icon-plus: "\e93a";
$icon-minus: "\e93b";
$icon-controls: "\e93c";
$icon-save: "\e93d";
$icon-location: "\e93e";
$icon-lock: "\e93f";
$icon-folder: "\e940";
$icon-calendar: "\e941";
$icon-off: "\e942";
$icon-enter: "\e943";
$icon-picture: "\e944";
$icon-camera: "\e945";
$icon-repost: "\e946";
$icon-users: "\e947";
$icon-more: "\e948";
$icon-leeds: "\e949";
$icon-cols: "\e94a";
$icon-rows: "\e94b";
$icon-chat: "\e94c";
$icon-crown: "\e94e";
$icon-contract: "\e94f";
$icon-archive: "\e950";
$icon-calculator: "\e951";
$icon-building: "\e952";
$icon-speaker: "\e953";
$icon-fingerprint: "\e954";
$icon-database: "\e955";
$icon-unlocked: "\e956";
$icon-photo: "\e957";
$icon-locations: "\e958";
$icon-smartphone: "\e959";
$icon-coin: "\e95a";
$icon-coins: "\e95b";
$icon-smile: "\e95c";
$icon-sad: "\e95d";
$icon-sceptic: "\e95e";
$icon-pin: "\e95f";
$icon-happy: "\e960";
$icon-in-love: "\e961";
$icon-relieved: "\e962";
$icon-networking: "\e963";
$icon-shocked: "\e964";
$icon-microphone: "\e965";
$icon-locked: "\e966";
$icon-stopclock: "\e967";
$icon-lock-reset: "\e968";
$icon-key: "\e969";
$icon-muted: "\e96a";
$icon-call: "\e96b";
$icon-quote: "\e96c";
$icon-transfer: "\e96d";

