div.contacts {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .image-wrap {
            margin-bottom: 2.5rem;

            svg {
                width: 30rem;
                height: 30rem;
            }
        }

        .title-wrap {
            display: flex;
            flex-direction: column;
            text-align: center;
            font-weight: 600;

            .phone {
                font-size: 6rem;
            }

            .mail {
                margin-top: 1.5rem;
                font-size: 2.5rem;
            }
        }
    }
}

section.contact-form {
    h1.title {
        text-align: center;
        font-size: 4rem;
        margin-bottom: 7rem;
    }

    form.contact {
        .form-wrap {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 2rem;
            
            .input-wrap {
                width: calc(100% / var(--cards-col));
                
                &:not(:last-child) {
                    width: calc(100% / var(--cards-col) - 2rem);
                    margin-right: 2rem;   
                }
            }
        } 
        
        textarea {
            height: 10rem;
            margin-bottom: 2rem;
        }
    }
}


@media (max-width: 1023.98px) {
    section.contact-form {

        form.contact {
            .form-wrap {
                .input-wrap {

                    &:nth-child(2) {
                        margin-left: auto !important;
                    }

                    &:not(:last-child) {
                        margin: 0;
                    }

                    &:last-child {
                        margin-top: 2rem;
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media (max-width: 767.98px) {
    div.contacts {
        overflow: hidden;

        .wrapper {
            .title-wrap {
                .phone {
                    font-size: 3.5rem;
                }

                .mail {
                    font-size: 1.5rem;
                }
            }
        }
    } 

    section.contact-form {
        overflow: hidden;

        h1.title {
            font-size: 3.5rem;
        }

        form.contact {
            .input-wrap {
                margin-bottom: 2rem;
            }

            .form-wrap {
                .input-wrap {
                    width: 100% !important; 
                    
                    &:nth-child(2) {
                        margin-top: 2rem;
                        margin-left: 0 !important;
                    }

                    &:not(:last-child) {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}